---
// Style Imports
import { Sprite } from 'astro-icon';
import Meetup from '@C/Meetup';
import Socials from '@C/Socials';
// @ts-ignore
import About from '../content/about.md?content';
// @ts-ignore
import Membership from '../content/membership.md?content';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>test</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>
<body class="font-sans">
<Sprite.Provider>
	<main class="w-full h-screen flex flex-col justify-center">
		<h1 class="font-display text-2xl bg-slate-300 px-4 py-3">
			<img class="h-8 w-8 inline-block mr-2 align-bottom" src="/assets/logo.png" />
			Psychedelic Club of Denver
		</h1>
		<div class="p-2 overflow-y-scroll flex-grow">
			<Socials />
			<hr class="border-black my-2" />
			<About />
			<hr class="border-black my-2" />
			<Membership class="markdown" />
			<hr class="border-black my-2" />
			<Meetup />
		</div>
	</main>
</Sprite.Provider>
</body>
</html>
