---
import { Sprite } from 'astro-icon';
import config from '#config';
const { navlinks, icons } = config;
---

<style>
#nav.nav-enabled {
    #nav-links {
        @apply left-0;
    }
    #nav-open-icon {
        @apply hidden;
    }
    #nav-close-icon {
        @apply block;
    }
}
</style>

<nav id="nav" class="font-display text-2xl bg-slate-300 px-2 py-3 flex flex-row items-center">
    <img class="h-8 w-8 inline-block mr-1" src="/assets/logo64.webp" alt="Psychedelic Club of Denver logo" />
    <span id="nav-title" class="ml-1 flex-grow relative whitespace-nowrap overflow-hidden">
        Psychedelic Club of Denver
        <span id="nav-links" class="w-full left-[100%] bg-slate-300 absolute transition-all overflow-x-auto overflow-y-hidden md:right-0 md:w-auto md:left-auto">
            {navlinks.map(link => (
                <a class="border-l first:border-l-0 border-slate-500 px-1" href={link.href}>{link.name}</a>
            ))}
        </span>
    </span>
    <button id="nav-btn" class="justify-self-end ml-auto md:hidden" onclick="document.getElementById('nav').classList.toggle('nav-enabled')" aria-label="Toggle navigation">
        <Sprite id="nav-open-icon" class="h-8 w-8" name={icons.openmenu} />
        <Sprite id="nav-close-icon" class="h-8 w-8 hidden" name={icons.closemenu} />
    </button>
</nav>