---
import '../styles/base.css';
import { Sprite } from 'astro-icon';
import { SEO } from 'astro-seo';

import Navbar from '@C/Navbar';

import config from '#config';
const { title, description } = config;
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	
	<SEO 
		title={title}
		description={description} />

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>
<body class="font-sans">
<Sprite.Provider>
	<main class="w-full h-screen flex flex-col justify-center">
		<Navbar />
		<div class="p-2 overflow-y-scroll flex-grow">
			<slot />
		</div>
	</main>
</Sprite.Provider>
</body>
</html>
